{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <h1 class="site-title">{{ title }}</h1>
  <a href="/dashapp/" class="dash-link">
    <span>Dash 화면으로 이동</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}